<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script type="text/javascript" src="assets/js/scripts.js"></script>
</head>
<body>
	<div class="main-content">
		<div class="menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<a class="navbar-brand" href="#"><h4>Beranda</h4></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav mr-auto"></ul>
						<ul class="navbar-nav">
							<li class="nav-item align-self-center">
								<a class="nav-link" href="#part1">Pengalaman</a>
							</li>
							<li class="nav-item align-self-center">
								<a class="nav-link" href="#part2">Pendidikan</a>
							</li>
							<li class="nav-item align-self-center ">
								<a class="nav-link" href="#part3">Project</a>
							</li>
							<li class="nav-item align-self-center">
								<a class="nav-link" href="#part4">Kontak</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="row no-padding h-94">
			<div class="d-sm-flex align-items-center container">
				<div class="col-sm-6 ">
					<div class="main-img text-center">
						<img src="assets/img/fatoni.jpeg" class="img-fluid rounded-circle">
					</div>
				</div> 
				<div class="col-sm-6 main-desc">
					<h4 class="hidden-center">Hi! Saya Fatoni</h4>
					<h2 class="py-2 hidden-center">Programmer</h2>
					<a href="{% url 'portofolio' %}"><button class="btn btn-info">Lihat Act Sebelumnya</button></a>
				</div>
			</div>
		</div>

	</div>
</body>
</html>