@font-face {
	font-family: "candle";
	src : url("../font/Candle.ttf");
}
* {
	padding: 0px;
	margin: 0px;
}
html, body {
	width: 100%;
	height: 100%;
}
.main-content {
	background:  url("../img/bg3.jpg") center / cover no-repeat;
	width: 100%;
	height: 100%;
}
.menu {
	background: rgba(199,183,170,0.7);
}
.h-94 {
    height: 94%;
}
.main-img {
	border-radius: 50% 200%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-img > img {
	width: 50%;
}
.main-desc {
	font-family: candle;
}